@media (max-width:768px){
    .navbar{
        padding: 0px;
    }
    .navbar-brand{
        padding: 13px;
    }

    .navbar-toggler{
        margin-right: 10px;
    }
}

@media (min-width:768px){
    .navbar-toggler-icon, button{
        display:none;
    }
}

@media (max-width: 576px){
    .container{
        width: 90%;
    }
}